**/target/
**/build/
!**/src/main/**/target/
!**/src/main/**/build/
!**/src/test/**/target/
!**/src/test/**/build/
**/*.class
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/.idea/modules.xml
**/.idea/jarRepositories.xml
**/.idea/compiler.xml
**/.idea/libraries/
**/.idea/workspace.xml
**/.idea/shelf/
**/.idea/httpRequests/
**/.idea/queries/
**/.idea/dataSources/
**/.idea/dataSources.local.xml
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.springBeans
**/.sts4-cache
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/.vscode/
**/.mvn/wrapper/maven-wrapper.jar
**/.kotlin/
**/*.log
**/logs/
**/.DS_Store
**/Thumbs.db
**/desktop.ini
**/HELP.md
**/README.md
**/*.jar
**/*.war
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar
